.centered {
    text-align: center;
}

.mt {
    padding-top: 0px;
}

#galeria {
    width: 100%;
}

@-webkit-keyframes moveUp {
    to {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}

@-moz-keyframes moveUp {
    to {
        -moz-transform: translateY(0);
        opacity: 1;
    }
}

@keyframes moveUp {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.grid {
    list-style: none;
    background-color: rgba(0, 0, 0, 0.0);
}

.grid li {
    display: block;
    float: left;
    width: 50%;
    opacity: 0;
}

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
    opacity: 1;
}

.grid li a,
.grid li img {
    outline: none;
    border: 0px;
    display: block;
    max-width: 100%;
}

.grid img {
    opacity: .7;
}

.grid img:hover {
    opacity: 1;
}

.fa-arrow-right:before {
    content: "\f061"
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fa-twitter-square:before {
    content: "\f081"
}

.fa-facebook-square:before {
    content: "\f082"
}

.fa-twitter:before {
    content: "\f099"
}

.fa-facebook:before {
    content: "\f09a"
}

.fa-envelope:before {
    content: "\f0e0"
}

.fa-bars:before {
    content: "\f0c9"
}

.fa-angle-down:before {
    content: "\f107"
}


/* Effect 3: Scale up */

.grid.effect-3 li.animate {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    -webkit-animation: scaleUp 0.65s ease-in-out forwards;
    animation: scaleUp 0.65s ease-in-out forwards;
}

@-webkit-keyframes scaleUp {
    0% {}
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@keyframes scaleUp {
    0% {}
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

.site-footer {
    position: relative;
    z-index: 200;
    bottom: 0;
    width: 100%;
}