@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
#cssmenu {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    font-size: 10px;
    line-height: 15px;
    text-transform: uppercase;
    text-align: left;
}

#cssmenu > ul {
    width: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: #ffffff;
    border: 1px solid #ece6e8;
    border-bottom: 3px solid #d9ced2;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

#cssmenu > ul li#responsive-tab {
    display: none;
    /* Hide for large screens */
}

#cssmenu > ul li {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

#cssmenu > ul li.right {
    float: right;
}

#cssmenu > ul li.has-sub {
    position: relative;
}

#cssmenu > ul li.has-sub:hover ul {
    display: block;
}

#cssmenu > ul li.has-sub ul {
    display: none;
    width: 250px;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: #ffffff;
    border: 1px solid #ece6e8;
    border-bottom: 3px solid #d9ced2;
    border-top: 0 none;
}

#cssmenu > ul li.has-sub ul li {
    display: block;
}

#cssmenu > ul li.has-sub > a {
    background-image: url('assets/resources/img/menu/seta-pra-baixo.png');
    background-repeat: no-repeat;
    background-position: 90% -95%;
}

#cssmenu > ul li.has-sub > a.active,
#cssmenu > ul li.has-sub > a:hover {
    background: #00bf85 url('assets/resources/img/menu/seta-pra-baixo.png') no-repeat;
    background-position: 90% 195%;
}

#cssmenu > ul li a {
    display: block;
    padding: 12px 24px 11px 24px;
    text-decoration: none;
    color: #747474;
    text-shadow: 0px 1px 0px #fff;
}

#cssmenu > ul li a.active,
#cssmenu > ul li a:hover {
    background: #00bf85;
    color: #000;
}

@media (max-width: 600px) {
    #cssmenu > ul {
        width: 100%;
    }
    #cssmenu > ul li#responsive-tab {
        display: block;
    }
    #cssmenu > ul li#responsive-tab a:hover {
        background-color: #00bf85;
        background-position: 95% 135%;
    }
    #cssmenu > ul li {
        display: none;
    }
    #cssmenu > ul li.right {
        float: none;
    }
    #cssmenu > ul li.has-sub {
        position: relative;
    }
    #cssmenu > ul li.has-sub ul {
        display: block;
        position: static;
        width: 100%;
        background: #ffffff;
        border: 0 none;
    }
    #cssmenu > ul li.has-sub ul li {
        display: block;
    }
    #cssmenu > ul li.has-sub ul li a span {
        display: block;
        padding-left: 24px;
    }
    #cssmenu > ul li.has-sub > a {
        background-image: none;
    }
}


/* mobile view by JS */

@media (min-width: 600px) {
    #cssmenu > ul > li.collapsed {
        display: inline-block !important;
        *display: inline;
        zoom: 1;
    }
    #cssmenu > ul ul li.collapsed {
        display: block !important;
    }
}


/*

*/

.animated {
    font-family: Raleway;
    font-weight: 300;
    color: #333;
    text-align: left;
}

.grid li {
    display: block;
    float: left;
    padding: 0px;
    width: 33.3333%;
    opacity: 1;
}

.img-wrapper {
    display: inline-block;
    position: relative;
}

.img-wrapper button {
    position: absolute;
    top: 85%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.img {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

#retirar {
    position: absolute;
    top: 85%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.selecionouEstaFoto .glyphicon {
    color: limegreen;
    font-size: 39px;
    position: absolute;
    top: 15%;
    left: 10%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.zoomEstaFoto .glyphicon-zoom-in {
    position: absolute;
    top: 15%;
    left: 90%;
    color: black;
    font-size: 20px;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

bt-selecionar {
    top: 7px;
    left: 12px;
    font-size: 15px;
}

bt-desmarcar {
    top: 6px;
    left: 11px;
    font-size: 17px;
}

#fotos li .overlay-gradient {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    z-index: 991;
    cursor: pointer;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+50&0.5+0,0+50 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=0);
    /* IE6-9 */
    display: none;
}

.close {
    float: right;
    font-size: 31px;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 1.0;
    filter: alpha(opacity=20);
}

.close:hover,
.close:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: none;
    overflow: auto;
    overflow-y: scroll;
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -95%);
    -ms-transform: translate(0, -95%);
    transform: translate(0, -95%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-dialog {
    position: relative;
    z-index: 1050;
    width: auto;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
}

.modal-content {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: #000000;
}

.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}

.modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.modal-header {
    min-height: 16.428571429px;
    padding: 5px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-header .close {
    margin-top: -2px;
    margin: 0;
    font-family: Lato;
    font-size: 16px;
    color: #fff;
}

.modal-title {
    margin: 0;
    font-family: Lato;
    font-size: 16px;
    color: #fff;
}

.modal-body {
    position: relative;
    padding: 5px;
}

.modal-footer {
    padding: 5px 5px 5px;
    margin-top: 5px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.modal-footer:before,
.modal-footer:after {
    display: table;
    content: " ";
}

.modal-footer:after {
    clear: both;
}

.modal-footer:before,
.modal-footer:after {
    display: table;
    content: " ";
}

.modal-footer:after {
    clear: both;
}

@media screen and (min-width: 768px) {
    .modal-dialog {
        width: 760px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
        background: #000;
        -webkit-appearance: none;
        -webkit-tap-highlight-color: transparent;
        box-sizing: border-box;
        opacity: 1.0;
    }
}